<!DOCTYPE html>
<html>
<head>
  <title>LineStamp</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  
</head>
  <style type="text/css">
    body {
    padding-bottom: 40px;
    }
    .sidebar-nav {
    padding: 9px 0;
    }
  </style>
<body>

<%= yield %>


<!-- jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <!-- jQuery UI -->
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
  <!-- transition / effect library -->
  <script src="/assets/lib/bootstrap-transition.js"></script>
  <!-- alert enhancer library -->
  <script src="/assets/lib/bootstrap-alert.js"></script>
  <!-- modal / dialog library -->
  <script src="/assets/lib/bootstrap-modal.js"></script>
  <!-- custom dropdown library -->
  <script src="/assets/lib/bootstrap-dropdown.js"></script>
  <!-- scrolspy library -->
  <script src="/assets/lib/bootstrap-scrollspy.js"></script>
  <!-- library for creating tabs -->
  <script src="/assets/lib/bootstrap-tab.js"></script>
  <!-- library for advanced tooltip -->
  <script src="/assets/lib/bootstrap-tooltip.js"></script>
  <!-- popover effect library -->
  <script src="/assets/lib/bootstrap-popover.js"></script>
  <!-- button enhancer library -->
  <script src="/assets/lib/bootstrap-button.js"></script>
  <!-- accordion library (optional, not used in demo) -->
  <script src="/assets/lib/bootstrap-collapse.js"></script>
  <!-- carousel slideshow library (optional, not used in demo) -->
  <script src="/assets/lib/bootstrap-carousel.js"></script>
  <!-- autocomplete library -->
  <script src="/assets/lib/bootstrap-typeahead.js"></script>
  <!-- tour library -->
  <script src="/assets/lib/bootstrap-tour.js"></script>
  <!-- library for cookie management -->
  <script src="/assets/lib/jquery.cookie.js"></script>
  <!-- calander plugin -->
  <script src='/assets/lib/fullcalendar.min.js'></script>
  <!-- data table plugin -->
  <script src='/assets/lib/jquery.dataTables.min.js'></script>

  <!-- chart libraries start -->
  <script src="/assets/lib/excanvas.js"></script>
  <script src="/assets/lib/jquery.flot.min.js"></script>
  <script src="/assets/lib/jquery.flot.pie.min.js"></script>
  <script src="/assets/lib/jquery.flot.stack.js"></script>
  <script src="/assets/lib/jquery.flot.resize.min.js"></script>
  <!-- chart libraries end -->

  <!-- select or dropdown enhancer -->
  <script src="/assets/lib/jquery.chosen.min.js"></script>
  <!-- checkbox, radio, and file input styler -->
  <script src="/assets/lib/jquery.uniform.min.js"></script>
  <!-- plugin for gallery image view -->
  <script src="/assets/lib/jquery.colorbox.min.js"></script>
  <!-- rich text editor library -->
  <script src="/assets/lib/jquery.cleditor.min.js"></script>
  <!-- notification plugin -->
  <script src="/assets/lib/jquery.noty.js"></script>
  <!-- file manager library -->
  <script src="/assets/lib/jquery.elfinder.min.js"></script>
  <!-- star rating plugin -->
  <script src="/assets/lib/jquery.raty.min.js"></script>
  <!-- for iOS style toggle switch -->
  <script src="/assets/lib/jquery.iphone.toggle.js"></script>
  <!-- autogrowing textarea plugin -->
  <script src="/assets/lib/jquery.autogrow-textarea.js"></script>
  <!-- multiple file upload plugin -->
  <script src="/assets/lib/jquery.uploadify-3.1.min.js"></script>
  <!-- history.js for cross-browser state change on ajax -->
  <script src="/assets/lib/jquery.history.js"></script>
  <!-- application script for Charisma demo -->
  <script src="/assets/charisma/charisma.js"></script>

</body>
</html>
