<!DOCTYPE html>
<html>
<head>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1,user-scalable=no,initial-scale=1.0">
  <title>LineStamp</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "pinterestgrid", media: "all" %>
  <link href='http://fonts.googleapis.com/css?family=Chivo' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Donegal+One' rel='stylesheet' type='text/css'>
</head>

<body>
  <header class="global-header">
    <% if user_signed_in? %>
      <p class="masthead">ログアウト</p>
    <% else %>
      <p class="masthead"><%= link_to "ログイン", new_user_session_path %></p>
    <% end %>
    <h1>Line Stamp</h1>
  </header><!-- /header -->

  <div id="container">
    <ul>
      <li><a href="proto.html" title="">proto.html</a></li>
      <li><a href="pinterestgrid.html" title="">pinterestgrid.html</a></li>
      <li><a href="extra.html" title="">extra.html</a></li>
    </ul>
  </div>

  <main>
    <%= yield %>
  </main>

</body>
</html>
